rs.initiate(
   {
      _id: "rs0",
      version: 1,
      members: [
         { _id: 0, host : "$PRIMARY_HOSTNAME" },
         { _id: 1, host : "$S1" },
         { _id: 2, host : "$S2" }
      ]
   }
)
